In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Set pandas display options to truncate long values

df = pd.read_csv('mymoviedb.csv',engine='python')
print(df.head().to_string())

  Release_Date                    Title                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Overview  Popularity Vote_Count Vote_Average Original_Language                               Genre                                                           Poster_Url
0   2021-12-15  Spider-Man: No Way Home                                                                                                                                                                                                                                                                        Peter Parker is unmasked and no longer able to separate his normal life from the high-stakes of being a super-hero. When he asks for help from Doctor Strange the stakes become even more dangerous, forcing him to discover what it truly means to be Spider-Man.    5083.954       8940          8.3                en  Action, Adventure, Science Fiction  https://image.tmdb.org/t/p/original/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg
1   2022-03-01               The Batman                                                                                                                                                                                                                                                                                                                                                                        In his second year of fighting crime, Batman uncovers corruption in Gotham City that connects to his own family while facing a serial killer known as the Riddler.    3827.658       1151          8.1                en            Crime, Mystery, Thriller  https://image.tmdb.org/t/p/original/74xTEgt7R36Fpooo50r9T25onhq.jpg
2   2022-02-25                  No Exit                                                                                                                                                                                                                                                                       Stranded at a rest stop in the mountains during a blizzard, a recovering addict discovers a kidnapped child hidden in a car belonging to one of the people inside the building which sets her on a terrifying struggle to identify who among them is the kidnapper.    2618.087        122          6.3                en                            Thriller  https://image.tmdb.org/t/p/original/vDHsLnOWKlPGmWs0kGfuhNF4w5l.jpg
3   2021-11-24                  Encanto  The tale of an extraordinary family, the Madrigals, who live hidden in the mountains of Colombia, in a magical house, in a vibrant town, in a wondrous, charmed place called an Encanto. The magic of the Encanto has blessed every child in the family with a unique gift from super strength to the power to healâ€”every child except one, Mirabel. But when she discovers that the magic surrounding the Encanto is in danger, Mirabel decides that she, the only ordinary Madrigal, might just be her exceptional family's last hope.    2402.201       5076          7.7                en  Animation, Comedy, Family, Fantasy  https://image.tmdb.org/t/p/original/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg
4   2021-12-22           The King's Man                                                                                                                                                                                                                                                                                                                                                                               As a collection of history's worst tyrants and criminal masterminds gather to plot a war to wipe out millions, one man must race against time to stop them.    1895.511       1793          7.0                en    Action, Adventure, Thriller, War  https://image.tmdb.org/t/p/original/aq4Pwv5Xeuvj6HZKtxyd23e6bE9.jpg

In [8]:
# removing unwanted columns 
df.drop(['Overview'],axis=1,inplace=True)
print(df.head().to_string())
# here i forget to remove column posterurl i will remove in later

  Release_Date                    Title  Popularity Vote_Count Vote_Average Original_Language                               Genre                                                           Poster_Url
0   2021-12-15  Spider-Man: No Way Home    5083.954       8940          8.3                en  Action, Adventure, Science Fiction  https://image.tmdb.org/t/p/original/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg
1   2022-03-01               The Batman    3827.658       1151          8.1                en            Crime, Mystery, Thriller  https://image.tmdb.org/t/p/original/74xTEgt7R36Fpooo50r9T25onhq.jpg
2   2022-02-25                  No Exit    2618.087        122          6.3                en                            Thriller  https://image.tmdb.org/t/p/original/vDHsLnOWKlPGmWs0kGfuhNF4w5l.jpg
3   2021-11-24                  Encanto    2402.201       5076          7.7                en  Animation, Comedy, Family, Fantasy  https://image.tmdb.org/t/p/original/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg
4   2021-12-22           The King's Man    1895.511       1793          7.0                en    Action, Adventure, Thriller, War  https://image.tmdb.org/t/p/original/aq4Pwv5Xeuvj6HZKtxyd23e6bE9.jpg

In [9]:
# get data summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9837 entries, 0 to 9836
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9837 non-null   object
 1   Title              9828 non-null   object
 2   Popularity         9827 non-null   float64
 3   Vote_Count         9827 non-null   object
 4   Vote_Average       9827 non-null   object
 5   Original_Language  9827 non-null   object
 6   Genre              9826 non-null   object
 7   Poster_Url         9826 non-null   object
dtypes: float64(1), object(7)
memory usage: 614.9+ KB

In [10]:
# correcting the data type of columns 

df['Release_Date'] = pd.to_datetime(df['Release_Date'])

ValueError: time data " - Just Desserts" doesn't match format "%Y-%m-%d", at position 1106. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
#  ValueError: time data " - Just Desserts" doesn't match format "%Y-%m-%d", at position 1106. You might want to try:
df['Release_Date'][1106]

' - Just Desserts'

In [11]:
# let's check how many nan values present.
df[df['Release_Date'].isna()]
# 0 rows , so no nan values in Release_Date column.

Empty DataFrame
Columns: [Release_Date, Title, Popularity, Vote_Count, Vote_Average, Original_Language, Genre, Poster_Url]
Index: []

In [12]:
df['Release_Date'] = pd.to_datetime(df['Release_Date'],errors='coerce')
df.info()
# we got some null values after forcfull changing the date format, let's drop them

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9837 entries, 0 to 9836
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9827 non-null   datetime64[ns]
 1   Title              9828 non-null   object
 2   Popularity         9827 non-null   float64
 3   Vote_Count         9827 non-null   object
 4   Vote_Average       9827 non-null   object
 5   Original_Language  9827 non-null   object
 6   Genre              9826 non-null   object
 7   Poster_Url         9826 non-null   object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 614.9+ KB

In [ ]:
df[df['Release_Date'].isna()]

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
1106,NaT,None,NaN,None,None,None,None,None
1107,NaT,None,NaN,None,None,None,None,None
1108,NaT,None,NaN,None,None,None,None,None
1109,NaT,None,NaN,None,None,None,None,None
1110,NaT,None,NaN,None,None,None,None,None
1111,NaT,None,NaN,None,None,None,None,None
1112,NaT,None,NaN,None,None,None,None,None
1113,NaT,None,NaN,None,None,None,None,None
1114,NaT,None,NaN,None,None,None,None,None
1115,NaT,61.328,7.1,en,Animation,https://image.tmdb.org/t/p/original/6iXYe7AkQ1...,None,None

In [16]:
df.dropna(inplace=True)

In [ ]:

df['Release_Date'] = pd.to_datetime(df['Release_Date'],errors='coerce')

# we got some null values after forcfull changing the date format, let's drop them
# df['Release_Date'].dropna(inplace=True)  this won't work because u creating copy of realease date series.

df.dropna(subset=['Release_Date'],inplace=True) # becase u deleteing from df not just from series 
# df.drop(['Poster_Url'],axis=1,inplace=True)
df.info()
df.dropna(inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 9827 entries, 0 to 9836
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9827 non-null   datetime64[ns]
 1   Title              9827 non-null   object
 2   Popularity         9826 non-null   float64
 3   Vote_Count         9826 non-null   object
 4   Vote_Average       9826 non-null   object
 5   Original_Language  9826 non-null   object
 6   Genre              9826 non-null   object
 7   Poster_Url         9826 non-null   object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 691.0+ KB

In [19]:
df['Genre'].isna().sum()

np.int64(0)

In [ ]:
# we will create a new column name : cato
df['Genre'] = df['Genre'].apply(lambda x : x.split(', '))
# df['Genre'] = df['Genre'].str.split(',' )

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Original_Language,Genre
0,2021-12-15,Spider-Man: No Way Home,5083.954,8940,8.3,en,"[Action, Adventure, Science Fiction]"
1,2022-03-01,The Batman,3827.658,1151,8.1,en,"[Crime, Mystery, Thriller]"
2,2022-02-25,No Exit,2618.087,122,6.3,en,[Thriller]
3,2021-11-24,Encanto,2402.201,5076,7.7,en,"[Animation, Comedy, Family, Fantasy]"
4,2021-12-22,The King's Man,1895.511,1793,7.0,en,"[Action, Adventure, Thriller, War]"
...,...,...,...,...,...,...,...
9832,1973-10-15,Badlands,13.357,896,7.6,en,"[Drama, Crime]"
9833,2020-10-01,Violent Delights,13.356,8,3.5,es,[Horror]
9834,2016-05-06,The Offering,13.355,94,5.0,en,"[Mystery, Thriller, Horror]"
9835,2021-03-31,The United States vs. Billie Holiday,13.354,152,6.7,en,"[Music, Drama, History]"
9836,1984-09-23,Threads,13.354,186,7.8,en,"[War, Drama, Science Fiction]"

In [ ]:
# df = df.explode('Genre').reset_index(inplace=True)
df.info()

NameError: name 'df' is not defined

In [ ]:
# checking duplicates rows
# no duplicate row
df = pd.read_csv('mymoviedb.csv',engine='python')
print(df.duplicated().sum())

0

In [ ]:

# learning catorgization 
df = pd.DataFrame({
    'name': ['A', 'B', 'C', 'D', 'E'],
    'score': [10, 20, 30, 40, 50]
})

labels = ['Very Low', 'Low', 'Medium', 'High']


print(df.describe())
'''
edges = [
    df['score'].describe()['min'],
    df['score'].describe()['25%'],
    df['score'].describe()['50%'],
    df['score'].describe()['75%'],
    df['score'].describe()['max'],



    
]
'''
pd.cut
def catogize(df,col,labels):
    
    edges = [
                df[col].describe()['min'],
                df[col].describe()['25%'],
                df[col].describe()['50%'],
                df[col].describe()['75%'],
                df[col].describe()['max'],  
            ]
    return None

           score
count   5.000000
mean   30.000000
std    15.811388
min    10.000000
25%    20.000000
50%    30.000000
75%    40.000000
max    50.000000
[np.float64(10.0), np.float64(20.0), np.float64(30.0), np.float64(40.0), np.float64(50.0)]