In [1]:
import pandas as pd
print(pd.__version__)

2.2.3

In [ ]:
# to_datetime is a function from the  module

# mean(), median(), mode() are methods of Series

# fillna() is a method of both DataFrame and Series

# DataFrame itself is a class from the pandas module

In [ ]:
# One dimensinaol array
# Series contain single column data
arr = [1, 2, 3, 4, 5]
col = pd.Series(arr)
print(col)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
# One dimensinaol array
arr = [1, 2, 3, 4, 5]
col = pd.Series(arr,index=['one','two','three','four','five'])
print(col)
print(col['one'])

one      1
two      2
three    3
four     4
five     5
dtype: int64
1

In [ ]:
# One dimensianl array
dic = {"one":1,"two": 2,"three": 3, "four":4, "five":5}
col = pd.Series(dic)
print(col)
print(col['one'])

one      1
two      2
three    3
four     4
five     5
dtype: int64
1

In [3]:
#Two dimensianl array
dic = {"furits":["apple","banna","cherry"],"vehicals": ["car","motercyle","bus"],"places": ["Delhi","Mumbai","Dehradun"]}
col = pd.DataFrame(dic)
print(col)
# https://youtu.be/AnPSaU6Zpjc?feature=shared&t=126

   furits   vehicals    places
0   apple        car     Delhi
1   banna  motercyle    Mumbai
2  cherry        bus  Dehradun

In [6]:
# LOC : locate 
col.loc[0]

furits      apple
vehicals      car
places      Delhi
Name: 0, dtype: object

In [9]:
# returning two rows
# LOC : locate 
col.loc[[0,1]]

  furits   vehicals  places
0  apple        car   Delhi
1  banna  motercyle  Mumbai

In [2]:
# Read CSV and JSON

df_csv = pd.read_csv('data.csv')
df_json = pd.read_json('data.json')
print(df_csv.to_string())

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

In [ ]:
# how to load python dic into dataframe
# here dat is nested dictionary
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

pd_json_read = pd.DataFrame(data)
print(pd_json_read.to_string())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [5]:
#here data is in the form of a list of dic

data = [
  {"Duration": 60, "Pulse": 110},
  {"Duration": 60, "Pulse": 117},
  {"Duration": 60, "Pulse": 103}
]

pd_json_read = pd.DataFrame(data)
print(pd_json_read.to_string())

   Duration  Pulse
0        60    110
1        60    117
2        60    103

In [7]:
# Viewing Data  ( head method )
df_view_json = pd.read_json('data.json')
df_view_json_Head = df_view_json.head(2)
print(df_view_json_Head.to_string())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479

Data Cleaning

In [10]:
# Pandas - Cleaning Empty Cells
# Viewing Data  ( head method )

'''
BAD data contains:
-> empty cells 
- > Data in wrong format
- > Wrong data
->Duplicates
'''
bad_data_csv = pd.read_csv('badData.csv')

In [ ]:
#Pandas - Cleaning Empty Cells

# always make a copy of the data for opeations 
import pandas as pd
bad_data_csv = pd.read_csv('badData.csv')
# Create a copy of the data
bad_data_new_csv = bad_data_csv.dropna()

print(bad_data_new_csv.to_string())

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [ ]:
# Replace Empty Values

# instead of deleting entire row , we can replace empty values with a specific value 

import pandas as pd
bad_data_csv = pd.read_csv('badData.csv')
x = bad_data_csv['Calories'].mean()
bad_data_new_csv = bad_data_csv.fillna({'Calories':x})
print(bad_data_new_csv.to_string())

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130    409.10
1         60  2020/12/02    117       145    479.00
2         60  2020/12/03    103       135    340.00
3         45  2020/12/04    109       175    282.40
4         45  2020/12/05    117       148    406.00
5         60  2020/12/06    102       127    300.00
6         60  2020/12/07    110       136    374.00
7        450  2020/12/08    104       134    253.30
8         30  2020/12/09    109       133    195.10
9         60  2020/12/10     98       124    269.00
10        60  2020/12/11    103       147    329.30
11        60  2020/12/12    100       120    250.70
12        60  2020/12/12    100       120    250.70
13        60  2020/12/13    106       128    345.30
14        60  2020/12/14    104       132    379.30
15        60  2020/12/15     98       123    275.00
16        60  2020/12/16     98       120    215.20
17        60  2020/12/17    100       120    300.00
18        45  2020/12/18     90       112    304.68
19        60  2020/12/19    103       123    323.00
20        45  2020/12/20     97       125    243.00
21        60  2020/12/21    108       131    364.20
22        45         NaN    100       119    282.00
23        60  2020/12/23    130       101    300.00
24        45    20201226    105       132    246.00
25        60  2020/12/25    102       126    334.50
26        60  2020/12/26    100       120    250.00
27        60  2020/12/27     92       118    241.00
28        60  2020/12/28    103       132    304.68
29        60  2020/12/29    100       132    280.00
30        60  2020/12/30    102       129    380.30
31        60  2020/12/31     92       115    243.00

In [ ]:
# Pandas - Cleaning Data of Wrong Format
import pandas as pd
from pandas import to_datetime
bad_data_csv = pd.read_csv('badData.csv')
# as u can see row 26 has wrong format data and time 
# bad_data_fixed_dataTime_csv = bad_data_csv['Date'].to_datetime()  # bad_data_csv['Date'] => this is series 

bad_data_csv['Date'] = to_datetime(bad_data_csv['Date'],format='mixed')  # bad_data_csv['Date'] => this is series 
bad_data_csv.dropna(subset=['Date'], inplace=True)  # drop rows with missing values
print(bad_data_csv)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-26    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [18]:
# Pandas - Fixing Wrong Data
# 7        450 2020-12-08    104       134     253.3
# row 7 contain an outlier 
import pandas as pd

bad_data_csv = pd.read_csv('badData.csv')
bad_data_csv.loc[[7,8],'Duration'] = 16660
print(bad_data_csv)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7      16660  2020/12/08    104       134     253.3
8      16660  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45    20201226    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [ ]:
# Removing Rows
import pandas as pd

bad_data_csv = pd.read_csv('badData.csv')


# we have to remove 0th row from data frame

bad_data_csv.drop()

In [28]:
for x in bad_data_csv.head(5).index:
    print(x)

0
1
2
3
4

In [25]:
for x in bad_data_csv.columns:
    print(x)

Duration
Date
Pulse
Maxpulse
Calories

In [39]:
# print(bad_data_csv.loc[2,"Duration"])
# print(bad_data_csv["Duration"])

In [43]:
# Removing Rows
import pandas as pd

bad_data_csv = pd.read_csv('badData.csv')


# we have to remove 0th row from data frame
for i in bad_data_csv.index:
    if bad_data_csv.loc[i,"Duration"] >200:
        
     bad_data_csv.drop(i , inplace=True)
bad_data_csv

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45    20201226    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [ ]:
# how to show duplicates rows 
import pandas as pd

bad_data_csv = pd.read_csv('badData.csv')
# print(bad_data_csv)
print(bad_data_csv.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [ ]:
# Removing Duplicates

import pandas as pd

bad_data_csv = pd.read_csv('badData.csv')

# print(bad_data_csv.to_string())



# how to delete  dupliates row
bad_data_csv = pd.read_csv('badData.csv')

bad_data_csv.drop_duplicates(inplace=True)
print(bad_data_csv.to_string())

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45    20201226    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0