In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

# Quick check
def query_execute(query, return_result=True):
    engine = create_engine("mysql+pymysql://root:1234@localhost/loan")
    with engine.connect() as connection:
        if return_result:
             
            return pd.read_sql(query, connection)
        else:
            connection.execute(text(query))
            connection.commit()

In [5]:
loan_snapshots = query_execute("""
describe loan_snapshots
""")
loan_snapshots

                              Field        Type Null Key Default Extra
0                     loan_snap_key      bigint  YES        None
1                        is_current  tinyint(1)  YES        None
2                          loan_key      bigint  YES        None
3                   business_dateid      bigint  YES        None
4  principal_amount_outstanding_eur      double  YES        None
5                      overdue_days      bigint  YES        None

In [ ]:
# # unwanted columns will drop
# ALTER TABLE loan_snapshots
# DROP COLUMN loan_snap_key,
# DROP COLUMN start_date,
# DROP COLUMN end_date,
# DROP COLUMN entity_code,
# DROP COLUMN loan_status_key,
# DROP COLUMN loan_substatus_key,
# DROP COLUMN currency_code,
# DROP COLUMN principal_amount,
# DROP COLUMN principal_amount_paid,
# DROP COLUMN principal_amount_outstanding,
# DROP COLUMN interest_amount_planned,
# DROP COLUMN interest_amount_paid,
# DROP COLUMN interest_amount_accrued,
# DROP COLUMN penalty_amount,
# DROP COLUMN penalty_amount_paid,
# DROP COLUMN penalty_amount_waived,
# DROP COLUMN charge_amount,
# DROP COLUMN charge_amount_paid,
# DROP COLUMN principal_amount_lccy,
# DROP COLUMN principal_amount_paid_lccy,
# DROP COLUMN principal_amount_outstanding_lccy,
# DROP COLUMN interest_amount_planned_lccy,
# DROP COLUMN interest_amount_paid_lccy,
# DROP COLUMN interest_amount_accrued_lccy,
# DROP COLUMN penalty_amount_lccy,
# DROP COLUMN penalty_amount_paid_lccy,
# DROP COLUMN penalty_amount_waived_lccy,
# DROP COLUMN charge_amount_lccy,
# DROP COLUMN charge_amount_paid_lccy,
# DROP COLUMN principal_amount_eur,
# DROP COLUMN principal_amount_paid_eur,
# DROP COLUMN interest_amount_planned_eur,
# DROP COLUMN interest_amount_paid_eur,
# DROP COLUMN interest_amount_accrued_eur,
# DROP COLUMN penalty_amount_eur,
# DROP COLUMN penalty_amount_paid_eur,
# DROP COLUMN penalty_amount_waived_eur,
# DROP COLUMN charge_amount_eur,
# DROP COLUMN charge_amount_paid_eur,
# DROP COLUMN overdue_days_max,
# DROP COLUMN finish_dateid,
# DROP COLUMN last_repayment_dateid,
# DROP COLUMN write_off_dateid,
# DROP COLUMN fx_date;